* {
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 240, 221); 
    color: rgb(182, 3, 3);
    font-family: "Delius Swash Caps", cursive;
}

.carta {
    font-family: 'Playfair Display', serif;
    width: 1300px;
    max-width: 100%;
    margin: 40px auto;
    background-color: rgb(255, 194, 194);
    padding: 20px;
    border: 2px solid rgb(187, 2, 2);
}

h1 {
    font-size: 150px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-family: "Jacquard 24", Times, serif;   
    border-bottom: 2px solid rgb(170, 0, 0); 
    letter-spacing: 1px;
}

h2 {
    font-size: 90px;
    text-align: center;
    padding: 30px 0;
    font-family: "Monsieur La Doulaise", cursive;
    letter-spacing: 10px;
    margin: 50px 0;
    animation: fadeIn 1s ease both;

}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    font-family: "Courier New", monospace;
    padding: 15px;   
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid rgb(170, 0, 0);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

h4 {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    font-family: "Courgette", cursive;
    letter-spacing: 5px;
}

.grid-reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 110px 0;
    padding: 50px 0;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 5px;
}

.text {
    font-size: 20px;
    line-height: 1.2;
}

.number {
    font-family: "Courier New", monospace;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(148, 0, 0);
}

.heart {
    font-size: 2rem;
    color: rgb(182, 3, 3);
}

.momentos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.momentos p {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(182, 3, 3);
}

.polaroid {
  background: rgba(255,255,255,0.6);
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.4s ease, box-shadow 0.4s ease;;
  gap: 10px;
  
}

.polaroid:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.polaroid img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  max-width: 300px;
}

.polaroids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.recuerdo {
  max-width: 900px;
  margin: 100px auto;
  text-align: center;
}

h5 {
  margin-bottom: 30px;
  font-family: "Courgette", cursive;
  font-size: 30px;
}

p {
  font-family: "Delius Swash Caps", cursive;
  font-weight: bold;
}

.recuerdo p {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(182, 3, 3);
}

.grupo {
  display: grid; 
  grid-template-columns: repeat(3, 200px); /* 3 fotos por fila */ 
  gap: 30px; justify-content: center; /* centra el grupo */ 
  margin-top: 30px;
}

.grupo-recuerdo {
  background: white;
  padding: 12px 12px 20px;
  width: 200px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  text-align: center;
  transition: transform 0.3s ease;
}

.grupo-recuerdo:nth-child(1) { transform: rotate(-3deg); }
.grupo-recuerdo:nth-child(2) { transform: rotate(2deg); }
.grupo-recuerdo:nth-child(3) { transform: rotate(-1deg); }
.grupo-recuerdo:nth-child(4) { transform: rotate(-3deg); }
.grupo-recuerdo:nth-child(5) { transform: rotate(2deg); }
.grupo-recuerdo:nth-child(6) { transform: rotate(-1deg); }

.grupo-recuerdo:hover {
  transform: translateY(-6px) rotate(0deg);
}

.grupo-recuerdo img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.mensajito {
  margin-top: 30px;
  font-size: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
}

.separador {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.final {
  background-color: rgba(182, 3, 3, 0.74);
  margin: 40px auto;
  padding: 20px 0;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  width: 100%;
  animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
}